body {
    padding-top: 60px;
    padding-bottom: 60px;
    font-family: '微软雅黑','华文行楷','宋体','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #ccc;
}
img {
    width: 100%;
}
h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 0px;
    margin-bottom: 10px;
}
a{
    text-decoration: none;
    color: #428bca;
}
a:hover {
    text-decoration: none;
    color: #3071a9;
}
a:active {
    text-decoration: none;
    color: #3071a9;
}

.copyright {
    color: #ffffff;
}

.footer {
    text-align: center;
}

.footer a {
    color: #ee4444;
}

.sidebar h1 {
    color: #ee4444;
    font-size: 1.3em;
}

.sidebar li {
    margin-top: .7em;
    line-height: 1em;
}

.container-left {
    margin: 0;
}

.pagination{
    display: block;
    text-align: center;
}
.well {
    background-color: #fafafa;
    border: 0px solid #e3e3e3;
    border-width: 0px;
    -webkit-box-shadow: inset 0 0 0 rgba(0,0,0,.05);
    box-shadow: inset 0 0 0 rgba(0,0,0,.05)
}
.well h1 {
    color: #ee4444;
    font-size: 1.3em;
}
.well.well-nopadding{
    padding: 0;
}
.sidebar.well.well-nopadding img{
    border-radius: 4px 4px 0 0;
}
.article.well.well-nopadding{
    height: 500px;
}
.article.well.well-nopadding img{
    border-radius: 4px 0 0 4px;
    width: 500px;
}
.article.well.well-nopadding .authorinfo{
    float: right;
    height: 100%;
    vertical-align: top;
    padding: 19px;
    font-size: 18px;
}
.article.well.well-nopadding .authorinfo .autograph{
    font-size: 20px;
    font-family: '楷体','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 10px 0;
}
.article.well .authorinfo .authorrow{
    padding-bottom: 10px;
}
.article.well .authorinfo .authorrow span:nth-child(1){
    width: 100px;
    display: inline-block;
    vertical-align: top;
    font-family: "黑体",'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.article.well .authorinfo .authorrow span:nth-child(2){
    font-family: '楷体','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
@media (max-width: 992px){
    .article.well.well-nopadding{
        height: auto;
    }
    .article.well.well-nopadding img{
        border-radius: 4px 4px 0 0;
        width: 100%;
        height: auto;
    }
    .article.well.well-nopadding .authorinfo{
        float: none;
        width: 100%;
        height: auto;
    }
}
@media (min-width: 992px){
    .article.well.well-nopadding .authorinfo{
        width: 438px;
    }
    .article.well.well-nopadding .authorinfo .autograph{
        margin: 10px 0 20px 0;
    }
}
@media (min-width: 1200px){
    .article.well.well-nopadding .authorinfo{
        width: 638px;
    }
    .article.well.well-nopadding .authorinfo .autograph{
        margin: 20px 0 40px 0;
    }
}
@media (min-width: 1500px){
    .article.well.well-nopadding .authorinfo{
        width: 948px;
    }
    .article.well.well-nopadding .authorinfo .autograph{
        margin: 30px 0 45px 0;
    }
}

.author {
    color: #ee4444;
}

.author a {
    color: #ee4444;
}

@media (min-width: 1500px){
    .container {
        width: 1480px;
    }
}
.article .well .post-info ul li{
    display: inline-block;
    margin-right: 10px;
}
.article .well .content p{
    display: inline-block;
    margin: 0;
}
.article .well .content p img{
    width: auto;
    max-width: 100%;
}
.article .well .post-excerpt p{
    display: inline-block;
    margin: 0;
}
.article .well .post-excerpt p img{
    float: left;
    margin-right: 15px;
}
.article .well .post-excerpt img{
    max-width: 150px;
    max-height: 150px;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.sidebar.well .authorinfo{
    margin: 19px;
}
.sidebar.well .authorinfo .autograph{
    margin-bottom: 10px;
}
.sidebar.well .authorinfo .authorrow{
    padding: 5px 0;
    border-bottom: 1px dotted #eee;
}
.sidebar.well .authorinfo .authorrow span:nth-child(1){
    width: 70px;
    display: inline-block;
    vertical-align: top;
}
.sidebar.well .authorinfo .authorrow span:nth-child(2){
    display: inline-block;
    width: 85px;
}

@media (min-width: 1500px){
    .sidebar.well .authorinfo .authorrow span:nth-child(1){
        width: 70px;
    }
    .sidebar.well .authorinfo .authorrow span:nth-child(2){
        width: 145px;
    }
}
@media (min-width: 1500px){
    .sidebar.well .authorinfo .authorrow span:nth-child(1){
        width: 70px;
    }
    .sidebar.well .authorinfo .authorrow span:nth-child(2){
        width: 215px;
    }
}

ul.targetul{
    list-style: none;
    padding: 0;
}
ul.targetul li{
    
}
ul.targetul li i{
    margin-right: 10px;
}
ul.targetul li a{
    
}