<h1>常用链接</h1>
<ul class="targetul">
  <li><a href="http://www.ruanyifeng.com/home.html" target="_black"><i class="glyphicon glyphicon-user"></i>阮一峰的个人网站</a></li>
  <li><a href="http://www.cnblogs.com/jirigala/" target="_black"><i class="glyphicon glyphicon-user"></i>吉日嘎拉的博客园</a></li>
  <li><a href="http://prideparrot.com/" target="_black"><i class="glyphicon glyphicon-user"></i>Pride Parrot</a></li>
  <li><a href="https://wangshub.github.io/" target="_black"><i class="glyphicon glyphicon-user"></i>神奇的战士</a></li>
  <li><a href="http://lucida.me/blog/developer-reading-list/" target="_black"><i class="glyphicon glyphicon-bookmark"></i>程序员必读书单 1.0</a></li>
  <li><a href="https://www.v2ex.com/" target="_black"><i class="glyphicon glyphicon-paperclip"></i>v2ex</a></li>
</ul>
