<div class="sidebar well well-nopadding">
    <img src="{{ site.baseurl }}/images/fallman.jpg" alt="坠落的男人"/>
    <div class="authorinfo">
        <div class="autograph">{{ site.data.author.autograph }}</div>
        <div class="authorrow">
            <span class="">姓名：</span>
            <span class="">{{ site.data.author.name }}</span>
        </div>
        <div class="authorrow">
            <span class="">愿望：</span>
            <span class="">{{ site.data.author.wish }}</span>
        </div>
        <div class="authorrow">
            <span class="">想对你说：</span>
            <span class="">{{ site.data.author.wanttosaytoyou }}</span>
        </div>
        <div class="authorrow">
            <span class="">E-mail：</span>
            <span class=""><a href="mailto:{{ site.data.author.email }}">发邮件</a></span>
        </div>
        <div class="authorrow">
            <span class="">QQ：</span>
            <span class="">{{ site.data.author.qq }}</span>
        </div>
        <div class="authorrow">
            <span class="">微信：</span>
            <span class="">{{ site.data.author.wechat }}</span>
        </div>
        <div class="authorrow">
            <span class="">电话：</span>
            <span class="">{{ site.data.author.telphone }}</span>
        </div>
        <div class="authorrow">
            <span class="">Github：</span>
            <span class=""><a href="https://github.com/{{ site.data.author.github }}" target="_black">{{ site.data.author.github }}</a></span>
        </div>
    </div>
</div>

<div class="sidebar well">
    <h1>近期日记</h1>
    <ul class="targetul">
        {% for post in site.posts limit:5 %}
          <li><a href="{{ site.baseurl}}{{ post.url }}"><i class="glyphicon glyphicon-chevron-right"></i>{{ post.title }}</a></li>
        {% endfor %}
    </ul>
</div>

<div class="sidebar well">
{% include links-list.html %}
</div>
