{% include header.html %}

<div class="container">
    <div class="row">
        <div class="col-md-3 hidden-xs">
            {% include archive-sidebar.html %}
        </div>
        <div class="col-md-9">
          <div class="article">
            <div class="well">
                <h1><a href="{{ site.baseurl}}{{ page.url }}">{{ page.date | date: "%Y年 %-m月 %-d日" }} - {{ page.title }}</a></h1>
            {% if site.comments and page.comments %}
                {% if site.disqus != '' %}
                <p class="author"><a href="#disqus_thread" data-disqus-identifier="{{ page.url | slugify }}">Comments</a></p>
                {% elsif site.isso != '' %}
                <p class="author"><a href="{{ site.baseurl }}{{ page.url }}{{ site.isso_suffix }}#isso-thread">Comments</a></p>
                {% endif %}
            {% endif %}
            <div class="post-content">
            {{ content }}
            </div>
            {% if page.comments %}
                {% if site.disqus != '' %}
            <div id="disqus_thread">
                <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
            </div>
                {% elsif site.isso != '' %}
                <section id="isso-thread"></section>
                {% endif %}
            {% endif %}
            </div>
          </div>
          <div class="pagination">
                {% if page.previous %}
                    <a class="btn btn-default previous" href="{{ site.baseurl}}{{ page.previous.url }}">上一篇日记</a>
                {% else %}
                    <a class="btn btn-default previous disabled" href="javascript:void(0);">上一篇日记</a>
                {% endif %}
                {% if page.next %}
                    <a class="btn btn-default next" href="{{ site.baseurl}}{{ page.next.url }}">下一篇日记</a>
                {% else %}
                    <a class="btn btn-default next disabled" href="javascript:void(0);">下一篇日记</a>
                {% endif %}
          </div>
        </div>
    </div>
</div>

{% include disqus-comments.html %}
{% include footer.html %}

{% if page.title %}
    <script type="text/javascript">
        (function() {
            document.title = "{{ page.title }}";
        })();
    </script>
{% endif %}
